@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');


body {
    background-color: rgb(116, 117, 126, 0.4);
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(45deg, #d6dbfd 0%, #c9cffc 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
}

.container {
    background-color: rgba(92, 150, 204, 0.4);
    padding: 1rem;
    width: 600px;
    max-width: 100%;
    box-shadow: 2px 2px 8px rgba(110, 102, 102, 0.4);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

input {
    margin: 0 1rem 0.4rem 0;
    flex: 3;
    font-size: 1rem;
    padding: 0.25rem;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 4px;
}

button {
    margin: 0 1rem 0.4rem 0;
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(111, 111, 214);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(94, 94, 184);
}

button:focus {
    background-color: rgb(94, 94, 184);
}

.main-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.img-container {
    max-width: 150px;
    max-height: 150px;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
}

.img-container, .details-container {
    margin: 1rem;
}

.details-container {
    max-width: 370px;
}

h2, h3 {
    text-align: center;
    padding: 1rem 0;
}

span.center {
    text-align: center;
    margin: 0.5rem 0;
}

.details-container p {
    margin: 0.2rem 0;
    padding: 0.2rem;
    line-height: 1.3rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(52, 63, 112);
}

a:hover {
    text-decoration: underline;
}

.link {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

input[type="checkbox"], label {
    pointer-events: none;
    margin: 0 0 0 0.5rem;
    vertical-align: middle;
}

.follow {
    display: flex;
    justify-content: space-between;
}

span {
    font-weight: bold;
}

.repos {
    margin-top: 1rem;
    padding-top: 1rem;
}

p.repo {
    display: inline-block;
    color: #fff;
    background-color: rgb(117, 115, 202);
    padding: 0.25rem;
    border-radius: 3px;
    margin: 0.5rem 0.3rem;
    padding: 0.4rem;
}

h2 {
    margin: 0.5rem;
}