@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(45deg, #d6dbfd 0%, #c9cffc 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    font-size: 1.25rem;
}

* {
    margin: 0.2rem;
}

.title {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
}

.container {
    background-color: white;
    width: 20rem;
    box-shadow: 0px 0px 2rem #c9c9c9;
    border-radius: 0.2rem;
    padding: 1rem;
    height: 210px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    justify-content: space-between;
    background-color: #f0f0f0;
}

#password {
    outline: none;
    border: none;
}

input {
    font-size: 1.25rem;
}

input[type='submit'] {
    font-weight: bold;
    margin-top: 0.5rem;
}

button {
    outline: none;
    border: none;
    font-size: 1.25rem;
    position: relative;
    transition: 0.2s ease-in all;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: #dfdfdf;
}

button:active {
    background-color: #3a3a3a;
}

.tooltip {
    display: none;
}

button:hover .tooltip{
    display: block;
    position: absolute;
    top: -30px;
    font-size: 1rem;
    padding: 2px;
    border-radius: 3px;
    background-color: #dbdbdb;
}